/*
 * =====================================================
 * By Bound3R
 *
 * Theme New Design Trends - Variables
 * =====================================================
 *
 */
/* Import Fonts*/
@font-face {
  font-family: "opensans";
  src: url("../fonts/opensans-light.woff") format("woff");
}
@font-face {
  font-family: "opensans-semibold";
  src: url("../fonts/opensans-semibold-600.woff") format("woff");
}
@font-face {
  font-family: "opensans-six";
  src: url("../fonts/opensans-v6.woff") format("woff");
}
/*
 * =====================================================
 * By Bound3R
 *
 * Theme FLAT GUI - Style
 * =====================================================
 *
 */
/* Typography */
/* Body default text color*/
/* Link color*/
/* Text colors */
/* Title */
/* H super */
/* Overlay subtitle */
/* Blockquote */
/* Comments */
/* Primary button */
/* Info button */
/* Succes button */
/* Warning button */
/* Danger button */
/* Other button */
/* List group */
/* Pagination */
/* Flags */
/* Tooltip */
/* Navbar */
/* Jumbotron */
/* Thumbnail */
/* Carousel */
/* Panels */
/* Progress bar */
/* Alerts */
/* ProgressBar */
/* width */
/* fix */
/* Body */
body {
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: justify;
  font-family: "opensans", serif;
  color: #732b41;
  background-color: #ececec;
}
body a {
  color: #2c3e50;
}
body a:hover {
  text-decoration: underline;
}
body .pointer {
  cursor: pointer;
}
#display-bg {
  position: fixed;
  width: 100%;
  height: 45%;
}
/* Title Section */
.title-section {
  border: 0 !important;
  padding: 0 !important;
}
.title-section h1 {
  background-color: #fff !important;
  color: #732B41;
  font-weight: bold;
}
/* Typography */
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  padding: 5px 0 5px 10px;
  color: #ffffff;
  background-color: #2980b9;
  margin-top: 10px;
}
.h-super {
  padding: 5px 0 15px 10px;
  background-color: #e62a64;
  -webkit-box-shadow: 10px 10px 0 0 #ffed20;
  -moz-box-shadow: 10px 10px 0 0 #ffed20;
  box-shadow: 10px 10px 0 0 #ffed20;
}
.h-overlay {
  margin: -16px 15px 10px 15px;
  background-color: #ed6992;
  border-style: solid;
  border-width: 7px 0 0 0;
  border-color: #e7336b;
}
/* Blockquote & Wells */
blockquote,
blockquote.pull-right {
  border-color: #d92b66;
}
blockquote small,
blockquote.pull-right small {
  color: #732b41;
}
legend {
  color: #732b41;
}
textarea {
  max-width: 100%;
}
/* forms fix */
.form-control {
  border-radius: 0;
  height: 32px;
}
.input-group-addon {
  border-radius: 0;
}
/* Navbar */
.navbar {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.navbar-brand {
  margin-left: 0px !important;
  background-color: #2980b9;
}
.navbar-title {
  font-size: 20px;
  border-style: solid;
  border-width: 0px;
  border-color: transparent !important;
}
.navbar-toggle {
  background-color: #1c4e6f;
}
.navbar-toggle .icon-bar {
  background: #fff;
}
.navbar .nav .open > a,
.navbar .nav .open > a:hover,
.navbar .nav .open > a:focus {
  background-color: #1c4e6f;
}
.navbar-dark {
  background-color: #2980b9;
  border-style: solid;
  border-width: 0px;
  border-color: #2c9ee8;
  -moz-box-shadow: 0px 0px 10px 1px #000000;
  -webkit-box-shadow: 0px 0px 10px 1px #000000;
  -o-box-shadow: 0px 0px 10px 1px #000000;
  box-shadow: 0px 0px 10px 1px #000000;
}
.navbar-dark a {
  color: #ffffff;
}
.navbar-dark a:hover {
  color: #ffffff;
}
.navbar-dark .nav > li > a:hover,
.navbar-dark .nav > li > a:focus,
.navbar-dark .nav > li > a.active {
  background-color: #1c4e6f;
}
.navbar-dark ul > li > ul > li a {
  border-style: solid;
  border-width: 0px;
  border-color: transparent !important;
}
.navbar-dark ul > li > ul > li a:hover {
  background-color: #f5f5f5;
}
/* 	Containers | CommentBox type list */
.comment-box .pull-left img,
.comment-box .pull-right img {
  border: 2px solid #2980b9;
}
.comment-box div {
  padding: 15px;
  color: #000000;
  margin-bottom: 5px;
}
.comment-box div.list-group {
  padding: 0;
}
.comment-box div.bp-component {
  padding: 0;
}
.comment-box div.generale,
.comment-box div.contenu,
.comment-box div.module,
.comment-box div.user,
.comment-box div.delete-contenu,
.comment-box div.delete-module {
  background: #fff;
  border: none;
  margin: 5px;
  -moz-box-shadow: 0px 5px 5px 0px #656565;
  -webkit-box-shadow: 0px 5px 5px 0px #656565;
  -o-box-shadow: 0px 5px 5px 0px #656565;
  box-shadow: 0px 5px 5px 0px #656565;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.comment-box div.generale h5,
.comment-box div.contenu h5,
.comment-box div.module h5,
.comment-box div.user h5,
.comment-box div.delete-contenu h5,
.comment-box div.delete-module h5 {
  background: #2ecc71;
}
.comment-box div.delete-module,
.comment-box div.delete-contenu {
  border: none;
}
.comment-box div.delete-module h5,
.comment-box div.delete-contenu h5 {
  background: #d92b66;
}
.comment-box div.contenu h5 {
  background: #f39c12 !important;
}
.comment-box div.module h5 {
  background: #e74c3c;
}
.comment-box div.user h5 {
  background: #9b59b6;
}
.comment-box ul,
.comment-box span {
  font-size: 12px;
}
.comment-box ul {
  list-style: none;
  position: absolute;
  right: 0;
  margin-top: -20px;
  padding: 0 6px;
}
.comment-box ul.list-group {
  position: inherit;
  right: inherit;
  margin-top: 0px;
  padding: 0;
}
.comment-box ul.n-info {
  list-style: circle;
  position: inherit;
  right: inherit;
  font-size: 14px;
}
.comment-box ul.n-info li {
  float: none;
  border-right: inherit;
}
.comment-box ul li {
  float: left;
  padding: 0 10px;
  border-right: 1px solid #b20037;
}
.comment-box ul li.list-group-item {
  float: none;
  padding: 10px 15px;
  border: 1px solid #ddd !important;
}
.comment-box ul li:last-child {
  border-right: none;
}
.comment-box span {
  padding: 0 10px;
}
.comment-box span.badge {
  padding: 3px 7px;
}
/* Text Colors */
.text-primary,
.text-info,
.text-success,
.text-warning,
.text-danger {
  color: #fff;
  padding: 0 10px 0 5px;
}
.text-primary {
  background-color: #9fafbe;
}
.text-info {
  background-color: #33b5e5;
}
.text-success {
  color: #5a6609;
  background-color: #a9e247;
}
.text-warning {
  background-color: #e74c3c;
}
.text-danger {
  color: #e74c3c;
}
/*filtre news */
#filtre-news {
  position: fixed;
  bottom: 2%;
  width: 100%;
  z-index: 200;
}
#filtre-news a {
  color: #ffffff;
}
#filtre-news a.btn {
  margin-right: 5px;
}
#filtre-news a.btn:last-child {
  margin: 0;
}
/* Buttons */
.btn {
  margin-left: 5px;
  color: #ffffff;
  background-color: #e62a64;
  border-width: 0;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -ms-transition: 300ms;
  -o-transition: 300ms;
  /* Group buttons and dropdown */
}
.btn:hover,
.btn:active,
.btn:focus {
  color: #ffffff;
  background-color: #e83c71;
}
.btn-default {
  -webkit-box-shadow: 4px 4px 0 0 #ee6e96;
  -moz-box-shadow: 4px 4px 0 0 #ee6e96;
  box-shadow: 4px 4px 0 0 #ee6e96;
}
.btn-all {
  background: #3498db;
  -webkit-box-shadow: 4px 4px 0 0 #75b9e7;
  -moz-box-shadow: 4px 4px 0 0 #75b9e7;
  box-shadow: 4px 4px 0 0 #75b9e7;
}
.btn-all:hover,
.btn-all:active,
.btn-all:focus,
.btn-all.active,
.btn-all.disabled,
.btn-all[disabled],
fieldset[disabled] .btn-all,
.btn-all.disabled:hover,
.btn-all[disabled]:hover,
fieldset[disabled] .btn-all:hover,
.btn-all.disabled:focus,
.btn-all[disabled]:focus,
fieldset[disabled] .btn-all:focus,
.btn-all.disabled:active,
.btn-all[disabled]:active,
fieldset[disabled] .btn-all:active,
.btn-all.disabled.active,
.btn-all[disabled].active,
fieldset[disabled] .btn-all.active {
  background-color: #3498db;
}
.btn-generale {
  background: #2ecc71;
  -webkit-box-shadow: 4px 4px 0 0 #69dd9a;
  -moz-box-shadow: 4px 4px 0 0 #69dd9a;
  box-shadow: 4px 4px 0 0 #69dd9a;
}
.btn-generale:hover,
.btn-generale:active,
.btn-generale:focus,
.btn-generale.active,
.btn-generale.disabled,
.btn-generale[disabled],
fieldset[disabled] .btn-generale,
.btn-generale.disabled:hover,
.btn-generale[disabled]:hover,
fieldset[disabled] .btn-generale:hover,
.btn-generale.disabled:focus,
.btn-generale[disabled]:focus,
fieldset[disabled] .btn-generale:focus,
.btn-generale.disabled:active,
.btn-generale[disabled]:active,
fieldset[disabled] .btn-generale:active,
.btn-generale.disabled.active,
.btn-generale[disabled].active,
fieldset[disabled] .btn-generale.active {
  background-color: #2ecc71;
}
.btn-contenu {
  background: #f39c12;
  -webkit-box-shadow: 4px 4px 0 0 #f7ba5b;
  -moz-box-shadow: 4px 4px 0 0 #f7ba5b;
  box-shadow: 4px 4px 0 0 #f7ba5b;
}
.btn-contenu:hover,
.btn-contenu:active,
.btn-contenu:focus,
.btn-contenu.active,
.btn-contenu.disabled,
.btn-contenu[disabled],
fieldset[disabled] .btn-contenu,
.btn-contenu.disabled:hover,
.btn-contenu[disabled]:hover,
fieldset[disabled] .btn-contenu:hover,
.btn-contenu.disabled:focus,
.btn-contenu[disabled]:focus,
fieldset[disabled] .btn-contenu:focus,
.btn-contenu.disabled:active,
.btn-contenu[disabled]:active,
fieldset[disabled] .btn-contenu:active,
.btn-contenu.disabled.active,
.btn-contenu[disabled].active,
fieldset[disabled] .btn-contenu.active {
  background-color: #f39c12;
}
.btn-module {
  background: #e74c3c;
  -webkit-box-shadow: 4px 4px 0 0 #ef8b80;
  -moz-box-shadow: 4px 4px 0 0 #ef8b80;
  box-shadow: 4px 4px 0 0 #ef8b80;
}
.btn-module:hover,
.btn-module:active,
.btn-module:focus,
.btn-module.active,
.btn-module.disabled,
.btn-module[disabled],
fieldset[disabled] .btn-module,
.btn-module.disabled:hover,
.btn-module[disabled]:hover,
fieldset[disabled] .btn-module:hover,
.btn-module.disabled:focus,
.btn-module[disabled]:focus,
fieldset[disabled] .btn-module:focus,
.btn-module.disabled:active,
.btn-module[disabled]:active,
fieldset[disabled] .btn-module:active,
.btn-module.disabled.active,
.btn-module[disabled].active,
fieldset[disabled] .btn-module.active {
  background-color: #e74c3c;
}
.btn-user {
  background: #9b59b6;
  -webkit-box-shadow: 4px 4px 0 0 #bb8ecd;
  -moz-box-shadow: 4px 4px 0 0 #bb8ecd;
  box-shadow: 4px 4px 0 0 #bb8ecd;
}
.btn-user:hover,
.btn-user:active,
.btn-user:focus,
.btn-user.active,
.btn-user.disabled,
.btn-user[disabled],
fieldset[disabled] .btn-user,
.btn-user.disabled:hover,
.btn-user[disabled]:hover,
fieldset[disabled] .btn-user:hover,
.btn-user.disabled:focus,
.btn-user[disabled]:focus,
fieldset[disabled] .btn-user:focus,
.btn-user.disabled:active,
.btn-user[disabled]:active,
fieldset[disabled] .btn-user:active,
.btn-user.disabled.active,
.btn-user[disabled].active,
fieldset[disabled] .btn-user.active {
  background-color: #9b59b6;
}
.btn-primary {
  background-color: #e62a64;
  -webkit-box-shadow: 4px 4px 0 0 #ee6e96;
  -moz-box-shadow: 4px 4px 0 0 #ee6e96;
  box-shadow: 4px 4px 0 0 #ee6e96;
}
.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #e11a58;
}
.btn-info {
  background-color: #3498db;
  -webkit-box-shadow: 4px 4px 0 0 #75b9e7;
  -moz-box-shadow: 4px 4px 0 0 #75b9e7;
  box-shadow: 4px 4px 0 0 #75b9e7;
}
.btn-info:hover,
.btn-info:active,
.btn-info:focus,
.btn-info.active,
.btn-info.disabled,
.btn-info[disabled],
fieldset[disabled] .btn-info,
.btn-info.disabled:hover,
.btn-info[disabled]:hover,
fieldset[disabled] .btn-info:hover,
.btn-info.disabled:focus,
.btn-info[disabled]:focus,
fieldset[disabled] .btn-info:focus,
.btn-info.disabled:active,
.btn-info[disabled]:active,
fieldset[disabled] .btn-info:active,
.btn-info.disabled.active,
.btn-info[disabled].active,
fieldset[disabled] .btn-info.active {
  background-color: #268fd5;
}
.btn-success {
  color: #485c26;
  background-color: #b8d252;
  -webkit-box-shadow: 4px 4px 0 0 #d1e28f;
  -moz-box-shadow: 4px 4px 0 0 #d1e28f;
  box-shadow: 4px 4px 0 0 #d1e28f;
}
.btn-success:hover,
.btn-success:active,
.btn-success:focus,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled],
fieldset[disabled] .btn-success,
.btn-success.disabled:hover,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success:hover,
.btn-success.disabled:focus,
.btn-success[disabled]:focus,
fieldset[disabled] .btn-success:focus,
.btn-success.disabled:active,
.btn-success[disabled]:active,
fieldset[disabled] .btn-success:active,
.btn-success.disabled.active,
.btn-success[disabled].active,
fieldset[disabled] .btn-success.active {
  color: #485c26;
  background-color: #b1ce42;
}
.btn-warning {
  background-color: #ff9141;
  -webkit-box-shadow: 4px 4px 0 0 #ffbd8e;
  -moz-box-shadow: 4px 4px 0 0 #ffbd8e;
  box-shadow: 4px 4px 0 0 #ffbd8e;
}
.btn-warning:hover,
.btn-warning:active,
.btn-warning:focus,
.btn-warning.active,
.btn-warning.disabled,
.btn-warning[disabled],
fieldset[disabled] .btn-warning,
.btn-warning.disabled:hover,
.btn-warning[disabled]:hover,
fieldset[disabled] .btn-warning:hover,
.btn-warning.disabled:focus,
.btn-warning[disabled]:focus,
fieldset[disabled] .btn-warning:focus,
.btn-warning.disabled:active,
.btn-warning[disabled]:active,
fieldset[disabled] .btn-warning:active,
.btn-warning.disabled.active,
.btn-warning[disabled].active,
fieldset[disabled] .btn-warning.active {
  background-color: #ff852d;
}
.btn-danger {
  background-color: #ff4444;
  -webkit-box-shadow: 4px 4px 0 0 #ff9191;
  -moz-box-shadow: 4px 4px 0 0 #ff9191;
  box-shadow: 4px 4px 0 0 #ff9191;
}
.btn-danger:hover,
.btn-danger:active,
.btn-danger:focus,
.btn-danger.active,
.btn-danger.disabled,
.btn-danger[disabled],
fieldset[disabled] .btn-danger,
.btn-danger.disabled:hover,
.btn-danger[disabled]:hover,
fieldset[disabled] .btn-danger:hover,
.btn-danger.disabled:focus,
.btn-danger[disabled]:focus,
fieldset[disabled] .btn-danger:focus,
.btn-danger.disabled:active,
.btn-danger[disabled]:active,
fieldset[disabled] .btn-danger:active,
.btn-danger.disabled.active,
.btn-danger[disabled].active,
fieldset[disabled] .btn-danger.active {
  background-color: #ff3030;
}
.btn-other {
  background-color: #272a2d;
  -webkit-box-shadow: 4px 4px 0 0 #4b5056;
  -moz-box-shadow: 4px 4px 0 0 #4b5056;
  box-shadow: 4px 4px 0 0 #4b5056;
}
.btn-other:hover,
.btn-other:active,
.btn-other:focus,
.btn-other.active,
.btn-other.disabled,
.btn-other[disabled],
fieldset[disabled] .btn-other,
.btn-other.disabled:hover,
.btn-other[disabled]:hover,
fieldset[disabled] .btn-other:hover,
.btn-other.disabled:focus,
.btn-other[disabled]:focus,
fieldset[disabled] .btn-other:focus,
.btn-other.disabled:active,
.btn-other[disabled]:active,
fieldset[disabled] .btn-other:active,
.btn-other.disabled.active,
.btn-other[disabled].active,
fieldset[disabled] .btn-other.active {
  color: #ffffff;
  background-color: #1e2022;
}
.btn-group .btn:hover {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.btn-group-vertical .btn {
  margin-left: 0;
}
.btn-group-vertical .btn:hover {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.btn-group-single > .btn + .dropdown-toggle {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.btn-group-single > .btn:first-child {
  margin-left: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.btn-group-single > .btn:last-child {
  margin-left: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.bp-component {
  margin-left: -6px;
}
.btn-block-level {
  margin-left: 0px;
}
/* Dropdown */
.open .dropdown-toggle.btn-default {
  background-color: #e83c71;
}
.open .dropdown-toggle.btn-primary {
  background-color: #e11a58;
}
.open .dropdown-toggle.btn-info {
  background-color: #268fd5;
}
.open .dropdown-toggle.btn-success {
  background-color: #b1ce42;
}
.open .dropdown-toggle.btn-warning {
  background-color: #ff852d;
}
.open .dropdown-toggle.btn-danger {
  background-color: #ff3030;
}
.open .dropdown-toggle.btn-other {
  background-color: #1e2022;
}
/* Nav pills */
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  color: #ffffff;
  background-color: #2980b9;
  border-radius: 0 !important;
}
.badge {
  background-color: #e62a64;
}
a.list-group-item.active > .badge,
.nav-pills > .active > a > .badge {
  color: #EA4A7B;
}
/* Pagination */
.pagination li a {
  padding: 6px 11px;
  color: #ffffff;
  background-color: #2c9ee8;
  border-style: solid;
  border-width: 0 1px;
  border-color: transparent #ffffff transparent #1c4e6f;
}
.pagination li a:hover {
  color: #ffffff;
  background-color: #2980b9;
  border-style: solid;
  border-width: 0 1px;
  border-color: transparent #ffffff transparent #ffffff;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background-color: #2980b9;
  border-style: solid;
  border-width: 0px;
  border-color: transparent !important;
}
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  color: #ffffff;
  background-color: #2980b9;
  border-style: solid;
  border-width: 0;
  border-color: transparent !important;
}
/* Flags */
.flag {
  position: relative;
  margin: 5px 10px;
  padding: 4px 20px 4px 12px;
  display: inline-block;
  background-color: #e62a64;
}
.flag:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -13px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 13px 13px 13px 0;
  border-color: transparent #ffffff transparent transparent;
}
.flag a {
  color: #ffffff;
}
.flag a:hover {
  color: #ffffff;
}
/* Panel */
.panel {
  border-radius: 0 !important;
  border-style: solid;
  border-width: 1px;
  border-color: #dddddd;
}
.panel-heading {
  color: #FFF !important;
  border-radius: 0;
}
.panel-default > .panel-heading {
  color: #FFF;
  background-color: #2980b9;
  border-style: solid;
  border-width: 0px;
  border-color: transparent !important;
}
.panel-default > .panel-heading h1,
.panel-default > .panel-heading h2,
.panel-default > .panel-heading h3,
.panel-default > .panel-heading h4 {
  background-color: transparent !important;
}
.panel-primary > .panel-heading {
  background-color: #ff4c83;
  -webkit-box-shadow: 0 4px 0 0 #ff99b8;
  -moz-box-shadow: 0 4px 0 0 #ff99b8;
  box-shadow: 0 4px 0 0 #ff99b8;
  border-style: solid;
  border-width: 0px;
  border-color: transparent !important;
}
.panel-primary > .panel-heading h1,
.panel-primary > .panel-heading h2,
.panel-primary > .panel-heading h3,
.panel-primary > .panel-heading h4 {
  background-color: transparent !important;
}
.panel-success > .panel-heading {
  color: #485c26 !important;
  background-color: #b8d252;
  -webkit-box-shadow: 0 4px 0 0 #d1e28f;
  -moz-box-shadow: 0 4px 0 0 #d1e28f;
  box-shadow: 0 4px 0 0 #d1e28f;
  border-style: solid;
  border-width: 0px;
  border-color: transparent !important;
}
.panel-success > .panel-heading h1,
.panel-success > .panel-heading h2,
.panel-success > .panel-heading h3,
.panel-success > .panel-heading h4 {
  background-color: transparent !important;
}
.panel-warning > .panel-heading {
  background-color: #ff9141;
  -webkit-box-shadow: 0 4px 0 0 #ffbd8e;
  -moz-box-shadow: 0 4px 0 0 #ffbd8e;
  box-shadow: 0 4px 0 0 #ffbd8e;
  border-style: solid;
  border-width: 0px;
  border-color: transparent !important;
}
.panel-warning > .panel-heading h1,
.panel-warning > .panel-heading h2,
.panel-warning > .panel-heading h3,
.panel-warning > .panel-heading h4 {
  background-color: transparent !important;
}
.panel-danger > .panel-heading {
  background-color: #e74c3c;
  -webkit-box-shadow: 0 4px 0 0 #ef8b80;
  -moz-box-shadow: 0 4px 0 0 #ef8b80;
  box-shadow: 0 4px 0 0 #ef8b80;
  border-style: solid;
  border-width: 0px;
  border-color: transparent !important;
}
.panel-danger > .panel-heading h1,
.panel-danger > .panel-heading h2,
.panel-danger > .panel-heading h3,
.panel-danger > .panel-heading h4 {
  background-color: transparent !important;
}
.panel-info > .panel-heading {
  background-color: #33b5e5;
  -webkit-box-shadow: 0 4px 0 0 #77ceee;
  -moz-box-shadow: 0 4px 0 0 #77ceee;
  box-shadow: 0 4px 0 0 #77ceee;
  border-style: solid;
  border-width: 0px;
  border-color: transparent !important;
}
.panel-info > .panel-heading h1,
.panel-info > .panel-heading h2,
.panel-info > .panel-heading h3,
.panel-info > .panel-heading h4 {
  background-color: transparent !important;
}
/* ToolTip */
.tooltip.left .tooltip-arrow {
  border-left-color: #e62a64 !important;
}
.tooltip.top .tooltip-arrow {
  border-top-color: #e62a64 !important;
}
.tooltip.right .tooltip-arrow {
  border-right-color: #e62a64 !important;
}
.tooltip.bottom .tooltip-arrow {
  border-bottom-color: #e62a64 !important;
}
.tooltip-inner {
  background-color: #e62a64;
}
/* Modal */
.modal-title {
  color: #732b41 !important;
  background-color: transparent !important;
}
/* Heading (custom jumbotron) */
.container .jumbotron {
  height: auto;
  color: #ffffff;
  font-family: "opensans-semibold", serif;
  font-weight: normal;
  overflow-y: hidden;
  background-image: url(../img/bg-jumbo.jpg);
  background-size: 100% 101%;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.container .jumbotron h1 {
  font-size: 58px;
  padding: 20px;
}
.container .jumbotron h2 {
  font-size: 26px;
  padding: 20px;
}
/* list Group */
.list-group-item {
  border: none !important;
  -moz-box-shadow: 0px 5px 5px 0px #656565;
  -webkit-box-shadow: 0px 5px 5px 0px #656565;
  -o-box-shadow: 0px 5px 5px 0px #656565;
  box-shadow: 0px 5px 5px 0px #656565;
}
.list-group-item.active {
  background-color: #33b5e5 !important;
}
.list-group-item.active:hover,
.list-group-item.active:focus {
  background-color: #33b5e5 !important;
}
.list-group-item.same-case {
  height: 54px;
}
li.list-group-item {
  box-shadow: none;
}
.list-group-item-heading {
  color: #FFF !important;
}
.module-not-taken {
  background: #27ae60;
}
.module-not-taken:hover {
  background: #2ecc71 !important;
}
/* Thumbnail */
.thumbnail {
  background-color: transparent !important;
  border-width: 0;
}
.thumbnail .caption {
  color: #732b41;
}
/* Carousel */
.carousel {
  margin: 0 0 40px 0;
}
.carousel-control {
  color: #2c3e50;
}
.carousel-control:hover {
  color: #f1c40f;
}
.carousel-control.left {
  background-image: -webkit-linear-gradient(left, color-stop(rgba(0, 0, 0, 0.7) 0%), color-stop(rgba(0, 0, 0, 0.0001) 100%));
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.0001) 100%);
}
.carousel-control.left:hover {
  background-image: -webkit-linear-gradient(left, color-stop(rgba(0, 0, 0, 0.8) 0%), color-stop(rgba(0, 0, 0, 0.0001) 100%));
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.0001) 100%);
}
.carousel-control.right {
  background-image: -webkit-linear-gradient(left, color-stop(rgba(0, 0, 0, 0.0001) 0%), color-stop(rgba(0, 0, 0, 0.7) 100%));
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.7) 100%);
}
.carousel-control.right:hover {
  background-image: -webkit-linear-gradient(left, color-stop(rgba(0, 0, 0, 0.0001) 0%), color-stop(rgba(0, 0, 0, 0.8) 100%));
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.8) 100%);
}
.carousel-indicators {
  bottom: -40px;
}
.carousel-indicators li {
  background-color: #b1244f;
  border-style: solid;
  border-width: 0px;
  border-color: transparent !important;
}
.carousel-indicators .active {
  background-color: #e62a64;
}
/* Alerts = fix background to h title */
.alert h1,
.alert h2,
.alert h3,
.alert h4 {
  background-color: transparent !important;
}
/* ProgressBar */
.progress-bar {
  background-color: #ea4a7b;
}
.progress-bar-success {
  background-color: #b8d252;
}
.progress-bar-info {
  background-color: #33b5e5;
}
.progress-bar-warning {
  background-color: #e74c3c;
}
.progress-bar-danger {
  background-color: #e62a64;
}
/* Grid Modifications */
.row {
  margin: 10px 0 0 0;
}
.col {
  /* Box content style */
  /* fix position left col-lg-4 and col-md-4 = grid col 4 & col 8 */
}
.col-no-border {
  border-style: solid;
  border-width: 0;
  border-color: transparent !important;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  -o-box-shadow: none !important;
  box-shadow: none !important;
}
.col-lg-12,
.col-md-12,
.col-lg-8,
.col-md-8,
.col-lg-6,
.col-md-6,
.col-lg-4,
.col-md-4,
.col-lg-1,
.col-md-1 {
  padding: 15px;
  background: transparent !important;
  border-style: solid;
  border-width: 1px;
  border-color: #2980b9;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.col-lg-12,
.col-md-12 {
  width: 96%;
  margin: 0 0 0 2%;
}
.col-lg-8,
.col-md-8 {
  width: 63.66%;
  margin: 0 0 0 2%;
}
.col-lg-6,
.col-md-6 {
  width: 47%;
  margin: 0 0 0 2%;
}
.col-lg-4,
.col-md-4 {
  width: 29.33%;
  margin: 0 0 0 3%;
}
.col-lg-1,
.col-md-1 {
  width: 6.17%;
  margin: 0 0 0 2%;
}
.col-lg-4:first-child {
  margin: 0 1% 0 2%;
}
.col-lg-4:nth-child(2) {
  margin: 0 1% 0 3%;
}
.admin-custom-box {
  background: #fff;
  border: none;
  -moz-box-shadow: 0px 5px 5px 0px #656565;
  -webkit-box-shadow: 0px 5px 5px 0px #656565;
  -o-box-shadow: 0px 5px 5px 0px #656565;
  box-shadow: 0px 5px 5px 0px #656565;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.custom-box {
  background: #fff !important;
  border: none;
  -moz-box-shadow: 0px 5px 5px 0px #656565;
  -webkit-box-shadow: 0px 5px 5px 0px #656565;
  -o-box-shadow: 0px 5px 5px 0px #656565;
  box-shadow: 0px 5px 5px 0px #656565;
  margin: 5px;
  padding: 10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .col-lg-8,
  .col-md-8,
  .col-lg-6,
  .col-md-6,
  .col-lg-4,
  .col-md-4,
  .col-lg-1,
  .col-md-1 {
    float: left;
  }
}
/* Small screen / tablet */
@media (min-width: 768px) and (max-width: 991px) {
  .col-lg-8,
  .col-md-8,
  .col-lg-6,
  .col-md-6,
  .col-lg-4,
  .col-md-4,
  .col-lg-1,
  .col-md-1 {
    width: 96%;
    margin: 0 0 0 2%;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
  }
  .col-lg-6,
  .col-md-6 {
    display: inline-flex;
  }
  .col-lg-4:nth-child(2),
  .col-md-4:nth-child(2) {
    margin: 0 1% 0 2%;
  }
  .navbar-right {
    display: none;
  }
}
/* Extra small screen / phone */
@media (max-width: 767px) {
  .col-lg-8,
  .col-md-8,
  .col-lg-6,
  .col-md-6,
  .col-lg-4,
  .col-md-4,
  .col-lg-1,
  .col-md-1 {
    width: 96%;
    margin: 0 0 0 2%;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
  }
  .col-lg-6,
  .col-md-6 {
    display: inline-flex;
  }
  .col-lg-4:nth-child(2),
  .col-md-4:nth-child(2) {
    margin: 0 1% 0 2%;
  }
  .navbar-right {
    display: none;
  }
}
