.customHide{
    display:none;
}

.customHidePulginChosen{
    display:none !important;
}

.reveal-important{
    display: inline-block !important;
}

#helpDisplay{
    position:absolute;
    top:100px;
    padding: 10px;
    text-align: left;
    border:1px solid darkred;
    background: white;
}
#helpDisplay .col-md-6{
    background: #fff !important;
}

.exportResult{
    position: fixed;
    bottom: 10%;
    right: 5%;
}

@media screen and (min-width: 640px) {
    .hideMenu {
        display:none !important;
    }
    #loginForm{
        margin-top: 5%;
    }
    #signUpForm{
        margin-top: 5%;
    }
}

.auto-margin-menu-search {
    margin: auto;
    width: 32%;
}

#descendTop{
    margin-top: 15px;
}
